
# Ignorar todo
*

#!*/ -> No ignora directorios, por si hay .py's dentro, en este caso no

# Fichero de librerias necesarias
!requirements.txt

# READMEs
!README.md
!README_es.md

# Ficheros de codigo fuente
!*.py
